<!DOCTYPE html>
<html lang="zh">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'layui/css/layui.css' %}">
  <script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>
  {% block head %}{% endblock head %}
</head>
<body>
      <div class="site-nav-bg">
    <div class="site-nav w1200">
      <p class="sn-back-home">
        <i class="layui-icon layui-icon-home"></i>
        <a href="{% url 'goods:index' %}">首页</a>
      </p>
      <div class="sn-quick-menu">
        {% if not request.session.is_login %}
        <div class="login"><a href="{% url 'user:login' %}">登录</a></div>
        <div class="login"><a href="{% url 'user:register' %}">注册</a></div>
        {% else %}
        <div class="login">欢迎，{{ request.session.username }}</div>
          <div class="login"><a href="{% url 'user:logout' %}">退出</a></div>
        <div class="sp-cart"><a href="{% url 'cart:cart' %}">购物车</a><span></span></div>
     {% endif %}
      </div>
    </div>
  </div>


  <div class="header">
    <div class="headerLayout w1200">
      <div class="headerCon">
        <h1 class="mallLogo">
          <a href="#" title="母婴商城">
            <img src="{% static 'img/logo.png' %}" style="width: 190px;">
          </a>
        </h1>
        <div class="mallSearch">
          <form action="{% url 'goods:goods_search' %}" method="get" class="layui-form" novalidate>
            <input type="text" name="search" required  lay-verify="required" autocomplete="off" class="layui-input" placeholder="请输入需要的商品">
            <button class="layui-btn" lay-submit lay-filter="formDemo">
                <i class="layui-icon layui-icon-search"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

    {% block body %}{% endblock body %}

  <div class="footer">
    <div class="ng-promise-box">
      <div class="ng-promise w1200">
        <p class="text">
          <a class="icon1" href="javascript:;">7天无理由退换货</a>
          <a class="icon2" href="javascript:;">满99元全场免邮</a>
          <a class="icon3" style="margin-right: 0" href="javascript:;">100%品质保证</a>
        </p>
      </div>
    </div>
    <div class="mod_help w1200">
      <p>
        <a href="javascript:;">关于我们</a>
        <span>|</span>
        <a href="javascript:;">帮助中心</a>
        <span>|</span>
        <a href="javascript:;">售后服务</a>
        <span>|</span>
        <a href="javascript:;">母婴资讯</a>
        <span>|</span>
        <a href="javascript:;">关于货源</a>
      </p>
      <p class="coty">母婴商城版权所有 &copy; 2012-2020 More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
    </div>
  </div>
</body>
</html>