{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
{% endblock head %}
{% block body %}
    <div class="content content-nav-base  login-content">
        <div class="main-nav">
            <div class="inner-cont0">
                <div class="inner-cont1 w1200">
                    <div class="inner-cont2">
{#                        <a href="{% url 'goods:goods_all' %}" class="active">所有商品</a>#}
{#                        <a href="{% url 'user:perCen' request.session.user_id %}">个人中心</a>#}
{#                        <a href="{% url 'goods:goods_browser' %}">浏览记录</a>#}
{#                        <a href="">订单</a>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="login-bg">
            <div class="login-cont w1200">
                <div class="form-box" style="    height: 416px;">
                    <form class="layui-form"  name="fileForm" action="{% url 'user:login' %}" method="post">
                        <legend>账号登录</legend>
                        <div class="layui-form-item">
                            <div class="layui-inline iphone">
                                <div class="layui-input-inline">
                                    <i class="layui-icon layui-icon-username iphone-icon"></i>
                                    <input type="tel" name="username" id="phone" lay-verify="required|phone"
                                           placeholder="请输入账号" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline iphone">
                                <div class="layui-input-inline">
                                    <i class="layui-icon layui-icon-password iphone-icon"></i>
                                    <input type="tel" name="password" id="phone" lay-verify="required|phone"
                                           placeholder="请输入密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-inline iphone">
                                <div class="layui-input-inline">
                                    <i class="layui-icon layui-icon-password iphone-icon" style=""></i>
                                    <input type="tel"  id="ctl00_txtcode" lay-verify="required|phone"
                                           autocomplete="off" class="layui-input" placeholder="请输入验证码" style="    width: 165px;; display: inline-block">
                                    <input type="button"   onclick="createCode()" id="code" lay-verify="required|phone"
                                           autocomplete="off" class="layui-input" style="display: inline-block; padding-left: 0px;
}">
                                </div>
                            </div>

                        </div>


                        <style type="text/css">
            #code {
                font-family: Arial;
                font-style: italic;
                font-weight: bold;
                border: 0;
                letter-spacing: 2px;
                color: blue;
                font-size: 20px;
                width: 130px;
                background-color: #00FFFF;
            }
        </style>

        <script>
            window.onload = function() {
                createCode();
                var timeDiv = document.getElementById("time");
                window.setInterval(function(){
                    timeDiv.innerHTML = new Date().toLocaleString();
                }, 1000);
            };
            var code; //在全局定义验证码
            function createCode() {
                code = "";
                var codeLength = 4; //验证码的长度
                var checkCode = document.getElementById("code");
                var random = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R',
                    'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'); //随机数
                for(var i = 0; i < codeLength; i++) { //循环操作
                    var index = Math.floor(Math.random() * 36); //取得随机数的索引（0~35）
                    code += random[index]; //根据索引取得随机数加到code上
                }
                checkCode.value = code; //把code值赋给验证码
            }

            function check(){
            var inputCode = $('#ctl00_txtcode').val();
            console.log(inputCode)
            console.log(code)
            var username = $("#username").val();
            var password = $("#password").val();
                if(username=="" || password==""||inputCode==""){
                    alert("输入信息不能为空,请完善信息！");
                    return false;
                }else if(inputCode!=code){
                    alert("验证码输入错误,请重新输入！");
                    createCode(); //刷新验证码
                    document.getElementById("ctl00_txtcode").value = ""; //清空文本框
                    return false;
                }
                document.fileForm.submit();
                return true;
            }

        </script>
                        <div class="layui-form-item login-btn">
                            <div class="layui-input-block" style="padding-top: 0px;">
                                <button class="layui-btn" lay-submit="" lay-filter="demo1" type="button" onclick="check()">登录
                                </button>
                            </div>
                        </div>
                    </form>
                    <div>
                        <a href="{% url 'user:register1' %}">找回密码</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let flag = "{{ mes }}";
        if (flag) {
            alert("{{ mes }}")
        }
    </script>
{% endblock body %}